include property_data_puller/domiporta/listing_details_translations.yml
include property_data_puller/olx/listing_details_translations.yml
include property_data_puller/otodom/listing_details_translations.yml
